@import "naive-override.css";
@import "echarts-tooltip-custom.css";
@import "mark.css";
@import "transition.css";

html {
  scrollbar-gutter: auto;
}


.app-logo{
  height: 59px;
}

.max-h-context{
  max-height: calc(100vh - 8rem);
}